@model APPCOVID.Entity.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Transaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TRANSACTIONID" class="control-label"></label>
                @Html.TextBoxFor(model => model.TRANSACTIONID, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="TRANSACTIONID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRODUCTID" class="control-label"></label>
                @Html.TextBoxFor(model => model.PRODUCTID, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="PRODUCTID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CUSTOMERID" class="control-label"></label>
                @Html.TextBoxFor(model => model.PRODUCTID, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="CUSTOMERID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SUBSCRIPTIONTYPE" class="control-label"></label>
                @*<input asp-for="SUBSCRIPTIONTYPE" class="form-control" />*@
                @Html.TextBoxFor(model => model.SUBSCRIPTIONTYPE, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="SUBSCRIPTIONTYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PODETAILS" class="control-label"></label>
                @Html.TextBoxFor(model => model.PODETAILS, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="PODETAILS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CREATEDDATE" class="control-label"></label>
                @Html.TextBoxFor(model => model.CREATEDDATE, new { @class = "form-control", @readonly = "readonly" })
                <span asp-validation-for="CREATEDDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VALIDUPTODATE" class="control-label"></label>
                @Html.TextBoxFor(model => model.VALIDUPTODATE, new { @class = "form-control" })
                <span asp-validation-for="VALIDUPTODATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STATUS" class="control-label"></label>
                @Html.TextBoxFor(model => model.STATUS, new { @class = "form-control"})
                <span asp-validation-for="STATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

