@model IEnumerable<APPCOVID.Entity.ViewModels.TransactionViewModel>

@{
    ViewData["Title"] = "Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Subscription Details</h1>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>
                Subscription Type
            </th>
            <th>
                Product Id
            </th>
            <th>
                Pay Order Details
            </th>
            <th>
                Created TimeStamp
            </th>
            <th>
                Valid Upto TimeStamp
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.SUBSCRIPTIONTYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODUCTID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PODETAILS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CREATEDDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VALIDUPTODATE)
                </td>
                @*
                            <td>
                               @Html.ActionLink("View", "Details", new { id = item.TRANSACTIONID }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
            </tr>
        }
    </tbody>
</table>

