

@model IEnumerable<APPCOVID.Entity.ViewModels.ProductViewModel>
@{int roleId = ViewBag.roleId;}
    <div class="row">

        @if (roleId == 2){
        @Html.ActionLink("Create New Product", "Create", "Product")

        <table class="table table-responsive table-bordered">
            <thead>
                <tr>

                    <th>
                        Type of Product
                    </th>

                    <th>
                        Product for Infection-Stage
                    </th>
                    <th>
                        About Product
                    </th>
                    <th>
                        Product Short Description
                    </th>
                    <th>
                        Product Pics
                    </th>
                    <th>
                        Product Link
                    </th>
                    <th>
                        Product Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTTYPE)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.STAGE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRIPTION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SHORTDESCRIPTION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IMAGEURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </td>

                    <td>
                        @Html.ActionLink("View", "Details", new { id = item.PRODUCTID })
                        @if (roleId == 2)
                        @Html.ActionLink("Buy", "BuyProduct", new{ id = item.PRODUCTID })
                        @* @Html.ActionLink("Edit", "Edit", new { id = item.PRODUCTID}) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }

        @if (roleId == 3)
    {
    <div class="col-sm-12">
        <a asp-controller="Chatbot" asp-action="MedicalChatbot" style="float:right" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm m-2"><i class="fas fa-comments fa-sm text-white-50"></i> Medical Assistant</a>
        <a asp-controller="Chatbot" asp-action="InsuranceChatbot" style="float:right" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm m-2"><i class="fas fa-comments fa-sm text-white-50"></i> Insurance Assistant</a>
        <a asp-controller="Chatbot" asp-action="FaqChatbot" style="float:right" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm m-2"><i class="fas fa-comments fa-sm text-white-50"></i> Covid FAQ Assistant</a>
    </div><br /><hr />
        @foreach (var item in Model)
    {
        <div class="col-sm-3">
            @if(item.PRODUCTTYPE.ToLower()=="insurance")
        {
            <div class="card border-primary" style="width: 18rem;">

                <img class="card-img-top" src="@item.IMAGEURL" alt="Card image cap">
                <div class="card-body">
                    <span class="badge badge-primary">Insurance</span>
                    <h5 class="card-title">@item.SHORTDESCRIPTION</h5>
                    <p class="card-text">@item.DESCRIPTION</p>
                    <a href="@item.PRODUCTURL" class="btn btn-primary">Buy</a>
                </div>
            </div>
          }
    else
        {
            <div class="card border-warning" style="width: 18rem;">
                <img class="card-img-top" src="@item.IMAGEURL" alt="Card image cap">
                <div class="card-body">
                    <span class="badge badge-success">Medical Assistance</span>
                    <h5 class="card-title">@item.SHORTDESCRIPTION</h5>
                    <p class="card-text">@item.DESCRIPTION</p>
                    <a href="@item.PRODUCTURL" class="btn btn-primary">Book</a>
                </div>
            </div>
    }
        </div>
    }
    }
    </div>
